/* Estilos generales */

body {

    font-family: Arial, sans-serif;
    background-color: bisque;
    margin: 0;
    padding: 0;

  }
  
  header {

    background-image: url('comida.jpg');
    padding: 4%;

  }
  
  #header-div {

    background-color: rgba(245, 94, 94, 0.7);
    display: block;
    margin: 0 auto;
    padding: 20px;
    width: fit-content;
    min-width: 400px;
    border-radius: 2px;

  }
    
  h1, h2 {

    color: white;
    padding: 3%;
    margin: 0 auto;
    text-align: center;

  }
  
  h1 {

    font-size: 18px;
    text-transform: uppercase;

  }
  
  h2 { font-size: 16px; }
  
  nav {

    background-color: rgba(245, 94, 94);
    padding: 15px;

  }
  
  #description {

    margin-top: 1.5%;
    margin: auto 3%;
    padding: 5px;

  }
  
  h3 {

    color: rgba(245, 94, 94);
    text-align: center;
    font-size: 18px;
    
  }

  p {

    font-size: 14px;
    line-height: 1.5;

  }
  
  ul li {

    list-style: none;
    background: url('foodicon.png') no-repeat left center;
    padding: 1%;
    padding-left: 4%;
    
  }
  
  span {

    color: rgba(245, 94, 94);
    font-weight: bold;

  }

  #takeaway_container {

    display: flex;
    justify-content: center;
    margin-bottom: 2%;

  }
  
  #takeaway_container a {

    text-decoration: none;
    font-weight: bold;
    color: rgba(245, 94, 94);

  }
  
  #takeaway_container a img {

    position: relative;
    top: 35%;
    margin-right: 15px;

  }
  
  footer p {

    background-color: rgba(245, 94, 94);
    color: white;
    padding: 2%;
    text-align: center;
    margin-bottom: 0;
    font-size: 16px;

  }
  
  /* Estilos para resoluciones entre 768px y 1023px */

  @media screen and (max-width: 1023px) and (min-width: 768px) {

    header { padding: 5%; }
    
    h1 { font-size: 20px; }
    
    h2 { font-size: 18px; }

    h3 { font-size: 20px; }
 
    p { font-size: 16px; }
  
    ul li {

      padding: 2.3%;
      padding-left: 6.5%;

    }

    #takeaway_container {

      margin-bottom: 4%;

    }
  
    #takeaway_container a img {

      top: 35%;

    }
  
    footer p {

      padding: 15px;
      font-size: 16px;

    }
    
  }
  
  /* Estilos para resoluciones menores o iguales a 767px */

  @media screen and (max-width: 767px) {

    header {

      background-size: cover;
      padding: 6%;

    }

    h1 { font-size: 22px; }
    
    h2 { font-size: 10px; }

    h3 { font-size: 22px; }
  
    p { font-size: 18px; }
  
    ul li {

      padding: 3%;
      padding-left: 12%;

    }
  
    #takeaway_container {

      margin-bottom: 10%;

    }
  
    #takeaway_container a img {

      top: 40%;

    }
  
    footer p {

      padding: 15px;
      font-size: 16px;

    }

  }  